In [9]:
class Human:
    def __init__(self, Name, Age, Date_Of_Birth):
        self.Name = Name
        self.Age = Age
        self.Date_Of_Birth = Date_Of_Birth

In [10]:
X = Human('Andrei', 18, 17)

In [11]:
X.Name

'Andrei'

In [12]:
class Human:
    def __init__(self, Name, Age, Date_Of_Birth):
        self.Name = Name
        self.Age = Age
        self.Date_Of_Birth = Date_Of_Birth

In [21]:
class Pupil(Human):
    def __init__(self, GPA, Grade):
        self.GPA = GPA
        self.Grade = Grade
    def __str__(self):
        return self.name

In [20]:
class Teacher(Human):
    def __init__(self, Discipline, Salary):
        self.Discipline = Discipline
        self.Salary = Salary
    def __str__(self):
        return self.name

In [15]:
ana = Human('Ana', 23, 12)

In [16]:
x = Teacher('mate', 1000)

In [19]:
ana.Name, ana.Age, ana.Date_Of_Birth

('Ana', 23, 12)

ana = Human('Ana', 23, 12)
ana.characteristics()

In [22]:
Andrei = Human('Andrei', 18, 17)

In [24]:
Andrei = Pupil(9.43, 10)

In [25]:
Viorel = Teacher('Matematica', 1000)